body {
  font-family: "Roboto", sans-serif;
}

.title-font {
  font-family: "Chakra Petch", sans-serif;
  font-weight: bold;
}

.carousel-item {
  height: 500px;
}

.navbar,
footer {
  background-color: #152e66;
}

.white-text {
  color: white;
}

.zebra-color-1 {
  background-color: #b2c3e9;
}

.zebra-color-2 {
  background-color: #6d84b6;
}

.social-links {
  list-style: none;
}

@media (max-width: 767px) {
  .carousel-item {
    height: 280px;
  }

  .nav-item {
    text-align: center;
  }

  .navbar-toggler {
    border-color: #b2c3e9;
  }
}
